* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Logo */
.logo__goat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__goat__text {
  background: linear-gradient(128deg, #fff 0%, #d3938a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 24px;
  font-weight: 800;
  line-height: 32px;

  margin: 10px;
}

/* List Item */
.btn__list__item {
  border-radius: 5px !important;
}

.icon__item {
  color: #fff;
  font-size: 16px;
}

.active {
  background-color: #f97878 !important;
  color: #4c4c4c !important;
  border-radius: 5px !important;
  transition: all 0.3s ease-out;
}

.active .icon__item {
  color: #4c4c4c;
}
