* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Logo */
.logo__goat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__goat__text {
  background: linear-gradient(128deg, #fff 0%, #d3938a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 24px;
  font-weight: 600;
  line-height: 32px;

  margin: 10px;
}

/* List Item */
.btn__list__item {
  border-radius: 5px !important;
}

.icon__item {
  color: #fff;
  font-size: 16px;
}

.active {
  background-color: #f97878 !important;
  color: #4c4c4c !important;
  border-radius: 5px !important;
}

.active .icon__item {
  color: #4c4c4c;
}

.active:hover,
.active:hover .icon__item {
  color: #4c4c4c !important;
  transition: all 300ms;
}

/* Search */
.container__search {
  display: flex;
  align-items: center;
  padding: 10px;

  width: 580px;
  height: 42px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid #e6e6e6;
  background: #fafafa;
}

.icon__search {
  font-size: 20px;
  color: #4c4c4c;
}

.input__search {
  width: 100%;
  height: 38px;
  font-size: 16px;
  color: #4c4c4c;

  margin: 0 10px;
  background: #fafafa;
  border: none;
}

.input__search::placeholder {
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input__search:focus {
  outline: none;
}

/* Search personal */
.container__search-personal {
  display: flex;
  align-items: center;
  padding: 10px;

  width: 380px;
  height: 42px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid #e6e6e6;
  background: #fafafa;
}

/* Modal */

.close-icon {
  position: absolute;
  left: 210px;
  bottom: 40px;
}
